:root {
  --erie-black: #222222;
  --sky-blue: #8ECAE6;
  --blue_green: #219EBC;
  --prussian-blue: #023047;
  --selective-yellow: #FFB703;
  --ut-orange: #FB8500;
  --dark-red: #FF1B1C;
  --crimson: #D7263D;

  --nubank: #A959D5;
  --inter: #F08002;
  --picpay: #20BC5B;
  --caixa: #016DB3;
  --banco_brasil: #FFD600;
}
